<!DOCTYPE html>
<html>
<head>
  <title>Validate-o-tron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Validat-o-tron</h1>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
